/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://use.typekit.net/kny5ytb.css");
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
body {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 22, ../sass/screen.scss */
body, section {
  background: #fafafa;
}

/* line 26, ../sass/screen.scss */
section {
  box-sizing: border-box;
  border: 24px solid #fafafa;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 34, ../sass/screen.scss */
.present {
  background: linear-gradient(-210deg, #fff, #eceff1);
}

/* line 47, ../sass/screen.scss */
.contexte {
  background: linear-gradient(-210deg, #ffebee, #ffcdd2);
}
/* line 54, ../sass/screen.scss */
.contexte a {
  text-decoration-color: #ff8a80;
}

/* line 59, ../sass/screen.scss */
.donnees {
  background: linear-gradient(-210deg, #e0f2f1, #b2dfdb);
}
/* line 66, ../sass/screen.scss */
.donnees a {
  text-decoration-color: #1de9b6;
}

/* line 75, ../sass/screen.scss */
.approfondissement {
  background: linear-gradient(-210deg, #e8eaf6, #c5cae9);
}
/* line 82, ../sass/screen.scss */
.approfondissement a {
  text-decoration-color: #8c9eff;
}

/* line 88, ../sass/screen.scss */
.sql {
  background: linear-gradient(-210deg, #fff8e1, #ffecb3);
}
/* line 95, ../sass/screen.scss */
.sql a {
  text-decoration-color: #ffe57f;
}

/* line 101, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 105, ../sass/screen.scss */
h1 {
  font-size: 72px;
  margin-bottom: 48px;
}
/* line 108, ../sass/screen.scss */
h2 + h1 {
  margin-top: 48px;
}

/* line 113, ../sass/screen.scss */
h2 {
  font-size: 72px;
  margin-bottom: 48px;
}
/* line 116, ../sass/screen.scss */
section.present h2 {
  font-size: 36px;
  line-height: 36px;
  padding: 12px 24px;
  border: 1px solid #263238;
  border-radius: 6px;
  margin-bottom: 12px;
}

/* line 128, ../sass/screen.scss */
p, ul {
  font-size: 36px;
}

/* line 132, ../sass/screen.scss */
ul {
  list-style-type: square;
  margin-left: -12px;
}
/* line 135, ../sass/screen.scss */
ul li {
  line-height: 42px;
  margin-bottom: 6px;
}

/* line 141, ../sass/screen.scss */
li a {
  color: #263238;
  text-decoration: underline;
}
/* line 147, ../sass/screen.scss */
li a:hover {
  color: #607d8b;
}
